<!-- header begin -->
<header class="transparent header-light scroll-light" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a routerLink="/home" href="javascript: void(0)" class="h2">
                                    Blokios
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <!-- mainmenu begin -->
                        <ul id="mainmenu">
                            <li >
                                <a routerLink="/home" href="javascript: void(0)">Home<span></span></a>
                            </li>
                            <li *ngIf="!connected">
                                <a routerLink="/register" href="javascript: void(0)">Sign Up<span></span></a>
                            </li>
                            <li *ngIf="!connected">
                                <a routerLink="/login" href="javascript: void(0)">Login<span></span></a>
                            </li>
                            <li>
                                <a href="javascript: void(0)">How This Works<span></span></a>

                            </li>
                        </ul>
                        <div class="menu_side_area" *ngIf="!connected">
                            <a href="javascript: void(0)" (click)="getConnect()" class="btn-main"><i class="icon_wallet_alt"></i><span>Connect Wallet</span></a>
                            <span id="menu-btn"></span>
                        </div>
                        <div class="menu_side_area" *ngIf="connected">
                            <a href="javascript: void(0)" routerLink="/create" class="btn-main"><i class="icon_wallet_alt"></i><span>Create NFT</span></a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header close -->
